:9080 {
    root * /data/admin/dist
    file_server {
        index index.html
    }

    handle /uploads/* {
        reverse_proxy 127.0.0.1:8060
    }

	handle /manage/* {
        reverse_proxy 127.0.0.1:8060
    }

    handle_path /api/* {
        reverse_proxy 127.0.0.1:8060
    }

    handle /system/* {
        reverse_proxy 127.0.0.1:8060
    }

    handle_path /api/kkfileview/* {
        reverse_proxy 192.168.1.141:8012
    }

    handle /ws* {
        reverse_proxy 127.0.0.1:8060 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
        }
    }
}
