:9080 {
    root * /home/zks/Projects/test/devinggo/web/admin/dist
    file_server {
        index index.html
    }

    handle_path /uploads/* {
        reverse_proxy 127.0.0.1:8070
    }

	handle /manage/* {
        reverse_proxy 127.0.0.1:8070
    }

    handle_path /api/* {
        reverse_proxy 127.0.0.1:8070
    }

    handle /system/* {
        reverse_proxy 127.0.0.1:8070
    }

    handle_path /ws* {
        reverse_proxy 127.0.0.1:8070 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
        }
    }
}
